@{
    ViewData["Title"] = "Portfolioseite Yannic";
}

<div class="text-center">
    <h1 class="display-4">Willkommen zu meiner Portfolioseite</h1>
    <p>Learn about building Web apps with ASP.NET Core</p>
</div>
